@import "reset.css";
/*@import "function.css";*/
/*

-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr=#99ffffff,endColorstr=#99ffffff)";  
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99ffffff,endColorstr=#99ffffff);
background:rgba(255,255,255,.8);


filter:alpha(opacity=40); 针对 IE8 以及更早的版本 */
@font-face
	font-family 'gt walsheim'
	src url('../font/GT-Walsheim-Medium.ttf')
@font-face
	font-family 'noto sans cjk tc'
	src url('../font/NotoSansCJKtc-Medium.otf')
.w
	max-width 1200px
	width 100%
	margin 0 auto
body
	font-size 16px
	text-transform capitalize
	font-family 'gt walsheim','noto sans cjk tc',arail,'microsoft yahei'
.wap-module
	display none
.pc-module
	padding-top 70px
	.btn-public
		background linear-gradient(to right,#042ea0 0%,#81adff 100%) left top/100% 100% no-repeat
		transition 0.3s
		&:active,
		&:hover
			box-shadow 3px 6px 7px rgba(0,0,0,0.3)	
	.btn
		display block
		margin-top 50px
		width 210px
		height 74px
		font-size 30px
		color #fff
		line-height 74px
		text-align center
		border-radius 37px
	.header
		position fixed
		top 0
		left 0
		right 0
		height 70px
		box-shadow 0 3px 10px #ccc
		text-transform capitalize
		background #fff
		z-index 100
		.clear
			height 100%
		.brand
			width 210px
			height 100%
			background url('../img/00 Landing page/00 Logo.svg') left center no-repeat
		.p14-0-10
			padding 15px 0 15px
			box-sizing border-box
			height 100%
			font-size 20px
			color #2e6bf2
			line-height 40px
		.menu
			white-space nowrap
			.item
				margin-right 40px
				a
					display block
				&.child-menu
					position relative
					&>a
						padding-right 23px
						background url('../img/00 Landing page/arrow-bottom.png') right center no-repeat
				.child-menu-toggle
					position absolute
					display none
					background #fff
		.contant-us
			height 100%
			width 170px
			border-radius 5px
			color #fff
			text-align center
			line-height 40px
	.main
		.poa
			position absolute
			top 50%
			left 50%
		.z1
			z-index 1
		.z2
			z-index 2
		.z3
			z-index 3
		.z4
			z-index 4
		.w
			position relative
			height 100%
		h2
			padding 110px 0 110px
			font-size 46px
			color #4a4a4a
			line-height 1.5
			text-transform uppercase
			text-align center
			font-weight bold 
		.content
			width 600px
			.pt120
				padding-top 140px
			h3
			h4
				font-size 40px
				color #474747
				line-height 2
				font-weight bold
			p
				padding-top 40px
				font-size 22px
				color #6a6a6a
				line-height 46px
				text-align left
				&+p
					padding-top 0
		&>*
			width 100%
			overflow hidden
		.section-page-one
			height 970px
			.w
				height 100%
				display -webkit-flex
				display -moz-flex
				display -ms-flex
				display -o-flex
				display flex
				align-items center
				justify-content flex-end
				.content
					width 410px
					h3 
						font-size 66px
						color #5486f4
						line-height 1.5
						font-weight bold
					h4
						padding-bottom 40px
						font-size 20px
						color #2c2c2c
						line-height 1.5
					p
						padding-bottom 60px
						font-size 20px
						color #292929
						line-height 35px	
					.btn
						display block
						width 69px
						height 69px
						margin 0 auto
						background url('../img/00 Landing page/Arrow Button.png') center center no-repeat		
				img
					display block
				.bg
					margin-top -323px
					margin-left -820px
				.cloud-1
					margin-left -586px 
					margin-top -323px
					animation cloud1 5s linear infinite

				.cloud-2
					margin-left -214px 
					margin-top -257px
					animation cloud2 5s linear infinite

				.cloud-3
					margin-left -819px 
					margin-top -94px
					animation cloud3 5s linear infinite

				.cloud-4
					margin-left -110px 
					margin-top 220px
					animation cloud4 5s linear infinite
				.cloud-5
					margin-left 30px 
					margin-top 220px
					animation cloud4 5s linear infinite
				.cloud-6
					margin-left -780px 
					margin-top -50px
					animation cloud3 5s linear infinite
		.section-page-two
			height 1200px
			background url('../img/00 bgc/bgc 03.svg') center top no-repeat
			.service
				margin-top -380px
				margin-left 120px
			.id
				margin-left -750px
				margin-top -340px
			.content
				h3
					padding-top 350px
				p
				h4
					padding-top 20px
				h4
					font-size 26px
		.section-page-three
			height 1200px
			background url('../img/00 bgc/bgc 01.svg') center top no-repeat
			.building
				margin-top -300px
				margin-left 200px
			.id
				margin-left -750px
				margin-top -250px
			.oval-1
				margin-left 332px
				margin-top 264px
				width 24px
				height 24px
				border-radius 12px
				background linear-gradient(to right,#032d9f 0%,#89b2ff 100%) left center/100% 100% no-repeat
				animation oval-1 5s infinite linear
			.oval-2
				margin-left -800px
				margin-top 150px
				width 40px
				height 40px
				background #cdd9f4
				border-radius 20px
				background #b9c6e8
				animation oval-2 5s infinite linear
		.section-page-four
			height 1230px
			background url('../img/00 bgc/bgc 03.svg') center top no-repeat
			.content
				padding-top 430px
			.factoey
				margin-top -360px
				margin-left 60px
			.id
				margin-left -710px
				margin-top -300px
		.section-page-news
			padding-bottom 80px
			h2
				padding 0
				padding-bottom 100px
			.list
				.w32
					width 31%
					box-shadow 3px 3px 10px #ccc
					border-radius 20px
					&+.w32
						margin-left 3.5%
					img
						display block
						width 100%
					.text
						padding 30px
						h3
							font-size 30px
							color #313131
							line-height 1
							padding-bottom 20px
							font-weight bold
						.date
							font-size 14px
							color #a4a4a4
							line-height 1
		.section-page-partners
			padding-bottom 100px
			h2
				padding 80px 0 60px
			.list
				text-align left
				.brand
					float left
					padding 5px
					width 200px
					box-sizing border-box
					img
						display block
						margin 0 auto				
		.section-page-five
			height 745px
			.w
				.content
					width 600px
					.pt120
						padding-top 140px
					h3
					h4
						font-size 40px
						color #474747
						line-height 2
						font-weight bold
					p
						padding 90px 0 70px
						font-size 22px
						color #6a6a6a
						line-height 46px
						text-align left
						&+p
							padding-top 0
					
					.btn-public
						background linear-gradient(to right,#042ea0 0%,#81adff 100%) left top/100% 100% no-repeat
						transition 0.3s
						&:active,
						&:hover
							box-shadow 3px 6px 7px rgba(0,0,0,0.3)	
					.btn
						display block
						margin-top 50px
						width 210px
						height 74px
						font-size 30px
						color #fff
						line-height 74px
						text-align center
						border-radius 37px
						margin 0
						float right
						
				.bg
					margin-top -260px
					margin-left -680px
				.id
					margin-left 370px
					margin-top -300px
				.cloud-1
					margin-top -370px
					margin-left -535px
				.cloud-3
					margin-left -769px 
					margin-top -94px
				.cloud-6
					margin-left -730px 
					margin-top -50px
				.cloud-5
					margin-left -170px 
					margin-top -160px
	.footer
		padding-top 100px
		overflow hidden
		background url('../img/00 bgc/bgc 04.svg') center bottom no-repeat
		.w
			position relative
			height 100%
		.poa
			position absolute
			left 50%
		.cloud-1
			top 260px
			margin-left -840px
			animation cloud1 5s linear infinite
		.cloud-2
			top -40px
			margin-left 140px
			animation cloud2 5s linear infinite
		.cloud-3
			top 200px
			margin-left 480px
			animation cloud3 5s linear infinite
		.brand
			display block
			margin 50px auto 70px
			width 220px
			img
				display block
				margin 0 auto
		.list
			position relative
			margin-top -100px
			h3
				font-size 20px
				color #d0d0cd
				line-height 2
				padding-bottom 10px
			.item
				margin-top 15px
			.left
				width 65%
				.w33
					// width 33.33%
					box-sizing border-box
					padding-left 100px
				.item
					font-size 16px
					color #fff
					line-height 38px
			.right
				width 25%
			.information
				.item
					height 36px
					border-radius 18px
					padding 0 18px
					font-size 14px
					line-height 36px
					color #1053e6
					font-weight normal
					border 1px solid #415cac
					background #fff url('../img/arrow-right.png') right 28px center/15px auto no-repeat
		.content
			position relative
			padding-bottom 500px
			text-align center
			background url('../img/05/Mail box.png') center bottom no-repeat
			h3
				padding-bottom 10px
				font-size 37px
				color #4a4a4a
				line-height 2
				font-weight bold
			p
				font-size 27px
				color #4a4a4a
				line-height 2
				text-transform none
			.btn
				width 460px
				margin 30px auto 0
				span
					padding-right 30px
					background url('../img/pencil.png') right center/26px auto no-repeat
.layout
	.align-vertical-center
		position fixed
		left 0
		right 0
		top 0
		bottom 0
		background rgba(219,225,225,0.9)
		z-index 110
		display -webkit-flex
		display -moz-flex
		display -ms-flex
		display -o-flex
		display flex
		align-items center
		justify-content center
		overflow hidden
	.close
		position absolute
		left 50px
		top 50px
		img
			display block
	.contact-us
		display none
		&.onload
			display block
			animation 0.5s fadeOut forwards
		.content
			max-width 970px
			width 100%
			padding 3%
			margin 0 auto
			box-sizing border-box
			background #fff
			box-shadow  0 0 40px #aaa
			@media(max-width 1700px)
				width 700px
				padding 30px
			.row
				margin-bottom 30px
			.mb10
				margin-bottom 10px
			.mb0
				margin-bottom 0
			h2
				font-size 40px
				color #4a4a4a
				line-height 1
				padding-bottom 3%
				text-align center
				font-weight bold
				width 100%
				@media(max-width 1700px)
					padding-bottom 30px
			input,textarea,select
				background #f7f7f7
				padding 10px 15px
				outline none
				border none
				border-radius 5px
				width 100%
				box-sizing border-box
				font-size 20px
				color #000
				line-height 40px
				@media(max-width 1700px)
					padding 0 15px
					font-size 16px
				&::placeholder
					color #9f9f9f
					font-family 'gt walsheim','noto sans cjk tc',arail,'microsoft yahei'
			select
				height 60px
				color #9f9f9f
			textarea
				height 300px
				@media(max-width 1700px)
					height 230px
			.file
				span
					padding-left 30px
					background url('../img/06 contact us/attachment.png') left center no-repeat
				input
					visibility hidden
					display none
			.w48
				width 48%
			.btn
				margin 0 auto
				display block
				width 155px
				height 66px
				color #fff
				font-size 20px
				line-height 46px
				border-radius 33px
				background linear-gradient(to right,#042ea0 0%,#81adff 100%) left top/100% 100% no-repeat
				@media(max-width 1700px)
					padding 0
					height 46px
	.send-end
		display none
		&.onload
			display block
			animation 0.5s fadeOut forwards
		.poa
			position absolute
			top 50%
			left 50%
		.content
			color #4a4a4a
			text-align center
			.thanks
				position relative
				z-index 1
			h2
				padding-top 140px
				font-size 40px
				padding-bottom 30px
			h3
				padding-bottom 80px
				font-size 30px
			img
				display block
		.cloud-10
			margin-top -200px
			margin-left -480px
			animation cloud1 5s linear infinite
		.cloud-11
			margin-left 65px
			margin-top -350px
			animation cloud2 5s linear infinite
		.cloud-12
			margin-top -50px
			margin-left 340px
			animation cloud3 5s linear infinite
	.active
		display -webkit-flex
		display -moz-flex
		display -ms-flex
		display -o-flex
		display flex
		animation 0.5s fadeIn forwards
@keyframes cloud1{
	50%{
		transform translate(0, 30px)
	}
}
@keyframes cloud2{

	50%{
		transform translate(0, 15px)
	}	
}
@keyframes cloud3{

	50%{
		transform translate(0, -15px)
	}	
}
@keyframes cloud4{

	50%{
		transform translate(0, -30px)
	}	
}
@keyframes oval-1{
	0%,80%,100%{
		transform translate(100px,0)
		opacity 0
		background linear-gradient(to right,#032d9f 0%,#89b2ff 100%) left center/100% 100% no-repeat
	}
	10%{
		transform translate(0,0)
		opacity 1
	}
	30%{
		transform translate(-20px, 20px)
	}
	40%{
		transform translate(-50px, -30px)
		width 24px
		height 24px
	}
	50%{
		transform translate(-90px, -30px)
		width 40px
		height 40px
		border-radius 20px 
		background linear-gradient(to right,#032d9f 0%,#89b2ff 100%) left center/100% 100% no-repeat
	}
	60%{
		transform translate(-120px, -50px)
		background-image linear-gradient(to right,#b9c6e8 0%,#b9c6e8 100%)
	}
	70%{
		transform translate(-150px, -80px)
		opacity 0
	}
}
@keyframes oval-2{
	0%,100%{
		
		width 20px
		height 20px
		border-radius 10px
		background #032d9f
		transform translate(100px, 100px)
	}
	50%{
		width 40px
		height 40px
		border-radius 20px
		transform translate(0, 0)
		background #b9c6e8
	}
}

@keyframes fadeIn{
	0%{
		transform scale(0, 0) rotate(0);
	}
	100%{
		transform scale(1, 1) rotate(360deg);	
	}
}
@keyframes fadeOut{
	0%{
		transform scale(1, 1) rotate(360deg);	
	}
	99%{
		transform scale(0, 0) rotate(0);
	}
	100%{
		transform scale(0, 0) rotate(0);
		display none
	}
}
