@import "reset.css";
*
	-webkit-tap-highlight-color rgba(0,0,0,0)
@font-face
	font-family 'gt walsheim'
	src url('../font/GT-Walsheim-Medium.ttf')
@font-face
	font-family 'noto sans cjk tc'
	src url('../font/NotoSansCJKtc-Medium.otf')

body
	font-size 100%
	text-transform capitalize
	font-family 'gt walsheim','noto sans cjk tc',arail,'microsoft yahei'
.pc-module
	display none
.wap-module
	width 100%!important
	overflow hidden
	.header
		position fixed
		top 0
		left 0
		right 0
		display -webkit-flex
		display -moz-flex
		display -ms-flex
		display -o-flex
		display flex
		align-items center
		justify-content space-between
		padding 0 15px
		height 64px
		box-shadow 0 3px 10px #ccc
		z-index 110
		width 100%
		background #fff
		box-sizing border-box
		a.brand
			display block
			img
				display block
				height 40px
		.toggle-menu
			display block
			img
				display block
				width 50px
	.main
		padding 70px 0 0
		img
			display block
			margin 0 auto
			width 100%
		.w44
			width 44px
		.w700
			width 700px
		.w80
			width 80px
		.w520
			width 520px
		.w530
			width 530px
		.w107
			width 107px
		.w69
			width 69px
		.w115
			width 115px
		.w148
			width 148px
		.w85
			width 85px
		.w139
			width 139px
		.w195
			width 195px
		.w670
			width 670px
		p
			margin 0 auto
			font-size 22px
			color #4a4a4a
			line-height 44px
		&>*
		.next-all>*
			position relative
		.poa
			position absolute
			top 0
			left 50%
		.page-one
			padding 100px 0 80px
			text-align center
			h3
				font-size 60px
				color #5486f5
				line-height 1.3
			h4
				font-size 20px
				color #4a4a4a
				line-height 40px
			p
				width 355px
				margin 0 auto
			.contact-us
				z-index 10
				top auto
				left auto
				right 15px
				bottom 15px
			.arrow-bottom
				display block
				margin 30px auto
			.banner
				margin 0 auto
			.cloud-1
				margin-top 50px
				margin-left 120px
				animation cloud2 5s linear infinite
			.cloud-2
				margin-top 575px
				margin-left -230px
				animation cloud4 5s linear infinite
			.cloud-3
				margin-top 580px
				margin-left -270px
				animation cloud4 5s linear infinite
			.cloud-4
				margin-top 470px
				margin-left 160px
				animation cloud3 5s linear infinite
			.cloud-5
				z-index -1
				margin-top 120px
				margin-left -250px
				animation cloud3 5s linear infinite
		.next-all
			background url('../img/wap/01 smart factory/bgc 01.svg') center top/ 100% auto no-repeat
			h2
				padding 50px 0 70px
			h2
			h3
				font-size 50px
				color #4a4a4a
				line-height 2
				text-align center
			small
				padding-bottom 40px
				display block
				text-align center
				font-size 30px
				color #4a4a48
			a.btn
				display block
				margin 50px auto 0
				width 210px
				height 74px
				font-size 30px
				color #fff
				line-height 74px
				text-align center
				border-radius 37px
				background linear-gradient(to right,#042ea0 0%,#81adff 100%) left top/100% 100% no-repeat
				transition 0.3s
				&:active,
				&:hover
					box-shadow 3px 6px 7px rgba(0,0,0,0.3)	
			.id
				font-size 70px
				color #b8caf8
				left 0
				right 0
				text-align center
			p
				width 570px
		.page-two
			padding-top 100px
			.banner
				position relative
				padding 80px 0 230px
				margin 0 auto
				z-index 10
			.oval-1
				top 1193px
				margin-left 85px
				width 24px
				height 24px
				border-radius 12px
				background linear-gradient(to right,#032d9f 0%,#89b2ff 100%) left center/100% 100% no-repeat
				animation oval-1-wap 5s infinite linear
			.oval-2
				top 700px
				margin-left 330px
				width 40px
				height 40px
				background #cdd9f4
				border-radius 20px
				background #b9c6e8
				animation oval-2-wap 5s infinite linear
		.page-three
			h3
				padding-top 90px
			.banner
				margin 0 auto
				padding 80px 0 0
			.cloud-1
				margin-top 880px
				margin-left -300px
				animation cloud2 5s linear infinite
			.cloud-2
				margin-top 720px
				margin-left -100px
				animation cloud4 5s linear infinite
			.cloud-3
				margin-top 830px
				margin-left 230px
				animation cloud4 5s linear infinite
		.page-four
			padding-top 250px
			background url('../img/add-4-2/m/bgc-03.svg') center top/100% auto no-repeat
			h3
				padding-top 90px
			h4
				font-size 24px
				color #4a4a4a
				padding 20px 0
				line-height 1
				text-align center
				font-weight bold
			.banner
				margin 0 auto
				width 100%
				padding 50px 0
				img
					float right
					width 670px
				.clear
					clear both
			.id
				top 250px
		.new-sms
			padding-bottom 30px
			.swiper-container
				width 90%
				overflow visible
				.wrap
					width 320px
					margin 0 auto
					border-radius 15px
					box-shadow 3px 3px 10px #ccc
					.text
						padding 10px 20px
						h3
							font-size 27px
							line-height 1
							color #313131
							white-space nowrap
							text-overflow ellipsis
							overflow hidden
							width 100%
							padding 0 0 10px
							text-align left
						.date
							font-size 12px
							color #b3b3b3
							line-height 1
							
			h3
				padding 50px 0
				font-size 46px
				color #4a4a4a
				line-height 1
				text-align center
		.new-partners
		.new-partners2
			h3
				padding 50px 0
				font-size 46px
				color #4a4a4a
				line-height 1
				text-align center
			.swiper-container
				width 90%
				overflow visible
				.swiper-slide
					.brand
						margin 0 auto
						width 80%
						a
							display block
	.footer
		font-size 16px
		padding-top 125px
		background url('../img/wap/06 footer/bgc 05.svg') center bottom/100% auto no-repeat
		.w
			position relative
			height 100%
		.poa
			position absolute
			left 50%
		.cloud-1
			display none
			top 260px
			margin-left -840px
			animation cloud1 5s linear infinite
		.cloud-2
			display none
			top -40px
			margin-left 140px
			animation cloud2 5s linear infinite
		.cloud-3
			display none
			top 200px
			margin-left 480px
			animation cloud3 5s linear infinite
		.brand
			display block
			margin 0 auto
			padding 50px 0 30px
			width 200px
			img
				width 100%
				display block
				margin 0 auto
		.list
			position relative
			h3
				font-size 20px
				color #fff
				line-height 2
				padding-bottom 10px
			.item
				margin-top 15px
			.left
				width 100%
				display -webkit-flex
				display -moz-flex
				display -ms-flex
				display -o-flex
				display flex
				justify-content space-around
				.item
					font-size 16px
					color #fff
					line-height 38px
			.right
				width 100%
				display -webkit-flex
				display -moz-flex
				display -ms-flex
				display -o-flex
				display flex
				justify-content space-around
			.information
				padding-top 50px
				max-width 240px
				width 100%
				.item
					height 36px
					border-radius 18px
					padding 0 18px
					font-size 14px
					line-height 36px
					color #1053e6
					font-weight normal
					border 1px solid #415cac
					background #fff url('../img/arrow-right.png') right 28px center/15px auto no-repeat
		.content
			position relative
			padding-bottom 260px
			text-align center
			background url('../img/05/Mail box.png') center bottom/500px auto no-repeat
			display -webkit-flex
			display -moz-flex
			display -ms-flex
			display -o-flex
			display flex
			flex-direction column
			align-items center
			justify-content center
			h3
				padding-bottom 40px
				font-size 40px
				color #4a4a4a
				line-height 1.2
				font-weight bold
			p
				font-size 20px
				color #4a4a4a
				line-height 30px
				text-transform none
			.btn	
				display block
				margin 50px auto 0
				padding 0 30px
				height 60px
				font-size 20px
				color #fff
				line-height 60px
				text-align center
				border-radius 30px
				background linear-gradient(to right,#042ea0 0%,#81adff 100%) left top/100% 100% no-repeat
				transition 0.3s
				&:active,
				&:hover
					box-shadow 3px 6px 7px rgba(0,0,0,0.3)	
				span
					padding-right 10px
					background url('../img/pencil.png') right center/10px auto no-repeat

@keyframes oval-1-wap{
	0%,80%,100%{
		transform translate(-100px,0)
		opacity 0
		background linear-gradient(to right,#032d9f 0%,#89b2ff 100%) left center/100% 100% no-repeat
	}
	10%{
		transform translate(0,0)
		opacity 1
	}
	30%{
		transform translate(20px, 20px)
	}
	40%{
		transform translate(50px, 30px)
		width 24px
		height 24px
	}
	50%{
		transform translate(90px, -30px)
		width 40px
		height 40px
		border-radius 20px 
		background linear-gradient(to right,#032d9f 0%,#89b2ff 100%) left center/100% 100% no-repeat
	}
	60%{
		transform translate(120px, -50px)
		background-image linear-gradient(to right,#b9c6e8 0%,#b9c6e8 100%)
	}
	70%{
		transform translate(150px, -80px)
		opacity 0
	}
}

@keyframes oval-2-wap{
	50%{
		
		width 20px
		height 20px
		border-radius 10px
		background #032d9f
		transform translate(-100px, -100px)
	}
	0%,100%{
		width 40px
		height 40px
		border-radius 20px
		transform translate(0, 0)
		background #b9c6e8
	}
}




.layout
	.align-vertical-center
		position fixed
		left 0
		right 0
		top 0
		bottom 0
		background #edf1fd
		z-index 110
		display -webkit-flex
		display -moz-flex
		display -ms-flex
		display -o-flex
		display flex
		align-items center
		justify-content center
		overflow hidden
	.close
		position absolute
		left 50px
		top 50px
		img
			display block
	.contact-us
		display none
		&.onload
			display block
			animation 0.5s fadeOut forwards
		.content
			max-width 970px
			width 100%
			padding 3%
			margin 0 auto
			box-sizing border-box
			background #fff
			box-shadow  0 0 40px #aaa
			@media(max-width 1700px)
				width 700px
				padding 30px
			.row
				margin-bottom 30px
			.mb10
				margin-bottom 10px
			.mb0
				margin-bottom 0
			h2
				font-size 40px
				color #4a4a4a
				line-height 1
				padding-bottom 3%
				text-align center
				font-weight bold
				width 100%
				@media(max-width 1700px)
					padding-bottom 30px
			input,textarea,select
				background #f7f7f7
				padding 10px 15px
				outline none
				border none
				border-radius 5px
				width 100%
				box-sizing border-box
				font-size 20px
				color #000
				line-height 40px
				@media(max-width 1700px)
					padding 0 15px
					font-size 16px
				&::placeholder
					color #9f9f9f
					font-family 'gt walsheim','noto sans cjk tc',arail,'microsoft yahei'
			select
				height 60px
				color #9f9f9f
			textarea
				height 300px
				@media(max-width 1700px)
					height 230px
			.file
				span
					padding-left 30px
					background url('../img/06 contact us/attachment.png') left center no-repeat
				input
					visibility hidden
					display none
			.w48
				width 48%
			.btn
				margin 0 auto
				width 155px
				height 66px
				color #fff
				font-size 20px
				line-height 46px
				border-radius 33px
				background linear-gradient(to right,#042ea0 0%,#81adff 100%) left top/100% 100% no-repeat
				@media(max-width 1700px)
					padding 0
					height 46px
	.send-end
		display none
		&.onload
			display block
			animation 0.5s fadeOut forwards
		.poa
			position absolute
			top 50%
			left 50%
		.content
			color #4a4a4a
			text-align center
			.thanks
				position relative
				z-index 1
			h2
				padding-top 140px
				font-size 40px
				padding-bottom 30px
			h3
				padding-bottom 80px
				font-size 30px
			img
				display block
		.cloud-10
			margin-top -200px
			margin-left -480px
			animation cloud1 5s linear infinite
		.cloud-11
			margin-left 65px
			margin-top -350px
			animation cloud2 5s linear infinite
		.cloud-12
			margin-top -50px
			margin-left 340px
			animation cloud3 5s linear infinite
	.active
		display -webkit-flex
		display -moz-flex
		display -ms-flex
		display -o-flex
		display flex
		animation 0.5s fadeIn forwards
@keyframes cloud1{
	50%{
		transform translate(0, 30px)
	}
}
@keyframes cloud2{

	50%{
		transform translate(0, 15px)
	}	
}
@keyframes cloud3{

	50%{
		transform translate(0, -15px)
	}	
}
@keyframes cloud4{

	50%{
		transform translate(0, -30px)
	}	
}
@keyframes oval-1{
	0%,80%,100%{
		transform translate(100px,0)
		opacity 0
		background linear-gradient(to right,#032d9f 0%,#89b2ff 100%) left center/100% 100% no-repeat
	}
	10%{
		transform translate(0,0)
		opacity 1
	}
	30%{
		transform translate(-20px, 20px)
	}
	40%{
		transform translate(-50px, -30px)
		width 24px
		height 24px
	}
	50%{
		transform translate(-90px, -30px)
		width 40px
		height 40px
		border-radius 20px 
		background linear-gradient(to right,#032d9f 0%,#89b2ff 100%) left center/100% 100% no-repeat
	}
	60%{
		transform translate(-120px, -50px)
		background-image linear-gradient(to right,#b9c6e8 0%,#b9c6e8 100%)
	}
	70%{
		transform translate(-150px, -80px)
		opacity 0
	}
}
@keyframes oval-2{
	0%,100%{
		
		width 20px
		height 20px
		border-radius 10px
		background #032d9f
		transform translate(100px, 100px)
	}
	50%{
		width 40px
		height 40px
		border-radius 20px
		transform translate(0, 0)
		background #b9c6e8
	}
}

@keyframes fadeIn{
	0%{
		// transform scale(0, 0) rotate(0);
		opacity 0
	}
	100%{
		// transform scale(1, 1) rotate(360deg);	
		opacity 1
	}
}
@keyframes fadeOut{
	0%{
		// transform scale(1, 1) rotate(360deg);	
		opacity 1
	}
	99%{
		// transform scale(0, 0) rotate(0);
		opacity 0
	}
	100%{
		// transform scale(0, 0) rotate(0);
		opacity 0
		display none
	}
}


@media (max-width 1000px)
	.wap-module
		// display none
	.wap.layout
		.close
			right 50px
			top 50px
			left auto
			bottom auto
			img
				width 24px
		.contact-us
			position relative
			display block
			height 100vh
			display -webkit-flex
			display -moz-flex
			display -ms-flex
			display -o-flex
			display flex
			align-items center
			justify-content center
			display none
			&.active
				display flex
			.content
				padding 0 70px 30px
				width calc(100% - 40px)
				box-sizing border-box
				display block
				margin 20px
				h2
					padding 80px 0 50px
					line-height 1
					font-size 38px
				.row
					margin-bottom 15px
				.w48
					width 100%
					&+.w48
						margin-top 15px
				select
					display block
					height 60px
					line-height 1
					appearance none
					background #f7f7f7 url('../img/wap/07 Contact us/Arrow.png') right center/ 40px auto no-repeat
				input,textarea,select
					display block
					padding 15px
					font-size 20px
					line-height 30px
				textarea
					height 250px
					box-sizing border-box
				.file
					position relative
					font-size 18px	
					.tips
						background-size  22px auto
						padding-left 25px
					input
						position absolute
				.btn
					height auto
					line-height 30px
		.send-end
			position relative
			height 100vh
			display -webkit-flex
			display -moz-flex
			display -ms-flex
			display -o-flex
			display flex
			align-items center
			justify-content center
			display none
			
			&.active
				display flex
			.content
				padding 0 70px 30px
				width calc(100% - 40px)
				height calc(100% - 40px)
				margin 20px
				background #fff
				box-sizing border-box
				display -webkit-flex
				display -moz-flex
				display -ms-flex
				display -o-flex
				display flex
				align-items center
				justify-content center
				.poa
					display none
				img
					width 480px
					display block
					margin 0 auto
				h2
					padding-top 0
					font-size 46px
				h3
					font-size 30px



.mobile-menu
	position fixed
	top 0
	bottom 0
	left 0
	right 0
	z-index 220
	background #fff url('../img/wap/00 Landing page/00-1 menu/bottom.svg') center center/cover no-repeat
	display -webkit-flex
	display -moz-flex
	display -ms-flex
	display -o-flex
	display flex
	align-items center
	justify-content center
	display none
	&.active
		display flex
		animation 0.5s dropDown forwards
	&.focusActive
		display flex
		animation 0.5s dropUp forwards
	.close
		position absolute
		top 10px
		right 10px
		width 60px
		img
			width 100%
			display block
	.content
		.nav
			padding-bottom 50px
			font-size 36px
			color #fff
			text-align center
			line-height 1
			.toggle
				padding 30px 0
				display -webkit-flex
				display -moz-flex
				display -ms-flex
				display -o-flex
				display flex
				align-items center
				justify-content center
				&.active
					.icon
						transform rotate(0)
					&+.child-menu
						display block
			.icon
				margin-left 10px
				padding-top 36px
				width 36px
				background url('../img/wap/00 Landing page/00-1 menu/Arrow 下午12.51.28.png') center center/50px 50px no-repeat
				transform rotate(180deg)
				transition 0.3s
			.child-menu
				padding-top 20px
				display none
				.item
					padding-bottom 20px
					font-size 22px
					color #fff
		.copy-right
			min-width 300px
			border-top 1px solid #a49ccd	
			color #fff
			text-align center
			h3
				padding 30px 0 15px
				font-size 30px
				line-height 1
			p
				font-size 20px
				padding-bottom 20px
			.facebook
				display block
				width 50px
				margin 0 auto
				img
					display block
					width 100%

@keyframes dropDown{
	0%{
		display flex
		transform translateY(-100%)
	}
	100%{
		transform translateY(0)	
	}
}
@keyframes dropUp{
	0%{
		display flex
		transform translateY(0)
	}
	100%{
		visibility visible
		transform translateY(-100%)
	}
}
